@model Boundless.Models.TimeSheetDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimeSheetDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysofWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysofWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSheetMasterID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSheetMasterID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TimeSheetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
